name: webutils-org
port: 80
image: container-registry.netrunner.lasyk.info/netrunner/webutils.org:1.0.3
url: webutils.org
replicas: 3
tolerations:
- key: "netrunner/apps"
  operator: "Equal"
  value: "true"
  effect: "NoSchedule"

affinity:
  podAntiAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      - labelSelector:
          matchExpressions:
            - key: app
              operator: In
              values:
              - webutils-org
        topologyKey: "kubernetes.io/hostname"
