apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.name }}
  labels:
    app: {{ .Values.name }}
  # annotations:
    # in case u don't really care about specific IP addr it will be 
    # taken from the pool
    # metallb.universe.tf/address-pool: production-public-ips
spec:
  ports:
  - port: {{ .Values.port }}
    protocol: TCP
    targetPort: {{ .Values.port }}
  selector:
    app: {{ .Values.name }}